<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <button class="menu-button" onclick="openMenu()">☰</button>
        <h1>Test Page</h1>
    </header>
    <div id="menu" class="menu">
        <a href="javascript:void(0)" onclick="closeMenu()">Close ✖</a>
        <a href="https://habr.com/ru/articles/587864/">Home</a>
        <a href="https://www.youtube.com/watch?v=jQhKoXhNecQ&list=PLeLN0qH0-mCVQKZ8-W1LhxDcVlWtTALCS&index=3">About</a>
        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%BA%D0%BE%D0%B4%D0%BE%D0%B2_%D1%81%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D1%8F_HTTP">Contact</a>
    </div>
    <main>
        <h2>Welcome!</h2>
        <p>This is a simple yellow and purple themed page for test</p>
        <a href="#" class="button">Click Me</a>
    </main>
    <script>
        function openMenu() {
            document.getElementById('menu').style.width = '250px';
        }
        function closeMenu() {
            document.getElementById('menu').style.width = '0';
        }
    </script>
</body>
</html>
